@font-face {
    font-family: 'Roboto Mono Medium';
    src: url('../RobotoMono-Medium.ttf') format('truetype');
  }

  /* :root{
    --backgroundcolour: rgb(39, 0, 93);
  } */
  
  /* .for-light-them{
    --backgroundcolour: rgb(39, 0, 93);
  }

  .for-dark-them{
    --backgroundcolour: rgb(0, 0, 0);
  } */


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.background1{
    background-color: rgb(39, 0, 93);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.background2{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginbox{
    background-color: rgb(228, 241, 255);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono Medium';
}

.logo{
    color: rgb(174, 210, 255);
    font-size: 45px;
    bottom: 100px;
    margin-bottom: 30px;
}


.inputboxs{
    border: none;
    border-bottom: 2px solid rgb(39, 0, 93);
    outline: none;
    background-color: rgb(228, 241, 255);
    width: 250px;
    height: 30px;
    font-size: 20px;
}

.loginbtn{
    background-color: rgb(174, 210, 255);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto Mono Medium';
    border: 2px solid rgb(39, 0, 93);
    position: relative;
    left: 70px;
    top: 60px;
    font-size: 15px;
    color: rgb(39, 0, 93);
}

.inputnames{
    font-size: 20px;
}

.username{
    position: relative;
    bottom: 50px;
    color: rgb(39, 0, 93);
}

.password{
    color: rgb(39, 0, 93);
}


.togglebtn{
    position: absolute;
    top: 25px;
    right: 20px;
}